*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
}

/* Narvar styling here */
.narvar-small{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center; 
    padding: 0 40px;
}

 .nav-links{
    display: flex;
    padding: 10px;

}
.nav-links .links li{
    display: inline-flex;
    list-style-type: none;
    padding: 10px;
    
}

.nav-links .links li a{
text-decoration: none;
color: white;
}
.hamburger{
    width: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 7px;
    width: 20px;
    cursor: pointer;
}

.navlinks-mobile{
    display: none;   
} 


span, h4{
    color:blue;
}


@media (max-width: 768px) {
    .links{
        display: none;
        flex-direction: column;
        width: 80%;
        padding: 10px;
        z-index: 1;
        transition: all 0.75s ease-in-out;
        position: absolute;
    }
   
.navlinks-mobile{
    display: block;
}
}

/* hero styling */
.hero-container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;

}
.hero-small-container{
    width: 50%;
    text-align: center;
    align-items: center;
}
@media (max-width:768px) {
    .hero-container{
        display: block;
        width: 100%;
        margin-bottom:20px;
        margin-left: 20px;
        padding: auto;

        

    }
    .hero-small-container{
        width: 90%;
        margin-bottom:30px;

    }
}

h2, p, button{
    padding: 20px;

}

button{
    width: 150px;
    border-radius: 8px;
    border: none;
    transition: transform .5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightseagreen;
}

button:hover{
    transform: translateY(0.25rem);
    background-color: blue;
    color: white;
}
.myintro{
    transition: all 0.75s ease-in-out;
}

.about{
    text-align: center;
    align-items: center;
    background-color: #efefef;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

/* Services page */
.container-services{
   display: flex;
   margin: 20px;
   margin-top: 30px;
   flex-wrap: wrap;

}
.services-small{
    width: 30%;
    background-color: #efefef;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        position: relative;
       
    }

@media (max-width:768px) {
    .container-services{
    display: block;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;

    }
    .services-small{
        width:80% ;
        background-color: #efefef;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
          }
}
.project-container{
    display: flex;
    width:100%;
    margin: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #efefef;
}

.project-small{
    width: 80%;
    padding: 5px;
    margin: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    transition: all 0.5rem;
}
.project{
    background-color: #efefef;
    margin: 20px;
    margin-bottom: 20px;
}
@media (max-width:768px) {
    .project-container{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px;
          }
    .project-small{
        width: 90%;
        align-items: center;
        margin: 40px 10px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        
         }
    .myintro{
        display: flex;
        justify-content: center;
    }
}

.myintro{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 100px;
    animation: typing 3s steps(26, end) forwards, blink 1s infinite alternate;
}
@keyframes typing{
    0%{width: 0;}
    100%{width: 100;}
}
@keyframes blink{
    0%, 100%{
        border-right: 2px solid transparent;
        
    }50%{
        border-right: 2px solid #fff;
    }
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.contact-small{
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    
}

.footer{
    background-color: gray;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
h4{
    text-align: center;
    text-transform: uppercase;
    
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
@media (max-width:768px) {
    .footer{
        display: block;
        padding: 10px;
        justify-content: center;
    }

    .footer-container{
        display: block;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px;
        margin-top: 10px;
        text-align: left;
        color: white;
    }
   .footer-small, ul, li{
    width: 100%;
    list-style-type: none;
    background-color: gray;
    color: #efefef;
    border-radius: 5px;
    padding-top: 10px;
   }
    
}
.contact-us{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-container{
    color: black;
    display: flex;
    justify-content: center;
}
.footer-small, ul{
    width: 400px;
    margin: 30px;
    justify-content: left;

}
#signature{
    text-align: center;
}

h3{
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    color: lightseagreen;
    transition: all 0.5s ease-in;
    margin-top: 40px;
}
h3:hover{
    background-color: blue;
    color: white; 
}

/* contact us */
/*my comment here*/
form{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: auto;
    background-color: blueviolet;
    border-radius: 10px;
    box-sizing: border-box;
}

input{
    padding: 5px;
    margin: 5px;

}
button{
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    transition: all 0.2rem transform;
}
Button:hover{
    transform: translateY(.25rem);
    background-color: brown;
    color: white;
}
input:focus{
    border-radius: 3px;
    border: 3px solid red;
}
